# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: a drop in the digital ocean
email: 
privacy: privacy@dyadica.co.uk
cookie_url: '/cookies'
privacy_url: '/privacy'
description: >- # this means to ignore newlines until "baseurl:"
  Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.
baseurl: "/" # the subpath of your site, e.g. /blog
url: "https://dyadica.github.io" # the base hostname & protocol for your site, e.g. http://example.com

permalink: /blog/:title/

facebook_username: adropinthedigitalocean
twitter_username: dyadica
github_username:  dyadica
youtube_username: dyadica
instagram_username: ashedcalledskynet
#pinterest_username: sjb1182
steam_username: binarii
scholar_username: PeFH5psAAAAJ&hl

paginate: 9
paginate_path: "/blog/page:num/"

show_excerpts: true
# excerpt_separator: "<!--more-->"

# Custom implimentation of related posts
# Methods:
# 1: Categories
# 2: Tags
# 3: Collections, TBI!
related_p: 2 
max_related_p: 3
min_common_p: 1


# Build settings
theme: minima
plugins:
  - jekyll-feed
  - jekyll-gist
  - jekyll-paginate

# Using Front Matter Defaults to enable check is_post and is_page
defaults:
  -
    scope:
      path: ""      # empty string for all files
      type: posts   # limit to posts
    values:
      is_post: true # automatically set is_post=true for all posts      
  -
    scope:
      path: ""      # empty string for all files
      type: pages   # limit to posts
    values:
      is_page: true # automatically set is_page=true for all pages

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

exclude:
    - node_modules
