<div class="github-activity">

    <h1 class="main-title">github activity</h1>

    <ul class="git-result" id="git-result">

    <script>
    var request = new XMLHttpRequest();

    var path = "https://api.github.com/users/{{ site.github_username}}/repos?per_page=5&sort=updated";
    console.log(path);

    request.open('GET', path, true)

    request.onload = function() 
    {
        var data = JSON.parse(this.response);
        console.log(data);

        var statusHTML = ''; 

        // 'repo: ' + status.name + ' | description: ' + status.description + ' | forks: ' + status.forks_count

        var fork = '<svg class="svg-icon"><use xlink:href="' + '/assets/images/minima-social-icons.svg#git_fork' + '"></use></svg>'; 
        var star = '<svg class="svg-icon"><use xlink:href="' + '/assets/images/minima-social-icons.svg#git_star' + '"></use></svg>'; 
        var watch = '<svg class="svg-icon"><use xlink:href="' + '/assets/images/minima-social-icons.svg#git_watch' + '"></use></svg>';

        // Add below to include watch count
        // + ' ' + watch + ': ' + status.watchers_count +

        $.each(data, function(i, status)
        {
            statusHTML += 
            '<li><a href=' + status.html_url + '> \
                repo: <span class="fx">' + status.name + '</span> | description: <span class="fx">' + status.description + '</span> | ' + fork + ':  <span class="fx">' + status.forks_count + '</span> ' + star + ':  <span class="fx">' + status.stargazers_count + 
            '</span></a></li>';
        });

        document.getElementById("git-result").innerHTML = statusHTML;
    }
    request.send();
    </script>
    </ul>
</div>