<div class="related_posts">

<div class="wrapper">

    <h1>Related Posts</h1>

    <div class="module-grid">

    {% assign maxRelated = site.max_related_p %}
    {% assign minCommonTags =  site.min_common_p %}
    {% assign maxRelatedCounter = 0 %}
    
    {% for post in site.posts %}
    
        {% assign sameTagCount = 0 %}
        {% assign commonTags = '' %}
    
        {% for tag in post.tags %}
        {% if post.url != page.url %}
            {% if page.tags contains tag %}
            {% assign sameTagCount = sameTagCount | plus: 1 %}
            {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
            {% assign commonTags = commonTags | append: tagmarkup %}
            {% endif %}
        {% endif %}
        {% endfor %}
    
        {% if sameTagCount >= minCommonTags %}

        <a class="flex-module third" href="{{ post.url }}"> <!-- {{ post.title }}{{ commonTags }} -->
          {%- if post.thumb -%}
          <img class="tmpImage" src="{{ post.thumb }}">
          {%- else -%}
          <img class="tmpImageEmpty" width="300px" height="169px">
          {%- endif -%}
          <h3 class="mod-title">{{ post.title }}</h3>
          <p>{{ post.excerpt | strip_html }}...</p>
        </a>

        <!-- 
        <div>
          <h5><a href="{{ post.url }}">{{ post.title }}{{ commonTags }}</a></h5>
        </div> 
        -->

        {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
        {% if maxRelatedCounter >= maxRelated %}
            {% break %}
        {% endif %}
        {% endif %}
    
    {% endfor %}

    </div> <!-- module-grid -->
  </div>
</div>