.page-content
{
    margin-top: 30px;
    margin-bottom: 30px;
}

// titles --------------------------------------------------------------------------------------------------------------- //

.main-title
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;	
	font-size: 42px;
	line-height: 50px;
	background-color:#f8f8f8;  
    color: #3a3a3a;

	padding:0px;

    margin-top: 20px;
    margin-bottom: 20px;

    &.to-fit
    {
        width: fit-content;
        padding-right: 20px;
    }
}

// headings --------------------------------------------------------------------------------------------------------------- //

h1
{
    // .post-title.small
    // {
    //     font-family: 'Open Sans', sans-serif;
    //     font-weight: 400;	
    //     font-size: 22px;
    //     line-height: 30px;
    //     background-color:#f8f8f8;  
    //     color: #3a3a3a;

    //     padding:0px;
    // }

    // .post-title.featured
    // {
    //     width: fit-content;
    //     padding-right: 20px;
    // }
}

h2
{
    /* background-color:#f8f8f8; */
    width: fit-content;
    padding-right: 20px;
}

h3
{
    /* background-color:#f8f8f8; */
    width: fit-content;
    padding-right: 20px;
}

.light
{
	color:#17D2A8
}


div.post-content a, div.page-content a
{
    margin:0px;
	padding:0px;
	color:#151e30;
	text-decoration:none;

    margin-bottom: 4px;
    border-bottom: 1px solid #999;
    font-weight: bold;

    &:hover
    {
        background-color: #f5f5f5;
        border-bottom: 1px solid #17D2A8;
        transition: 0.3s;
    }
}

// sub titles --------------------------------------------------------------------------------------------------------------- //

div.post-content strong, div.page-content strong
{
    background-color: #f8f8f8;

    border-left: 1px solid #17D2A8;
    // border-right: 1px solid #17D2A8;

    padding-left: 5px;
    padding-right: 5px;;
}

// featured --------------------------------------------------------------------------------------------------------------- //

.feat-post
{
    color: #111;

    img
    {
        border-radius: 8px;
    }

    a
    {
        text-decoration: none;
        display: block;

        h1
        {
            margin-top: 20px;
            background-color: #f8f8f8;
            border-bottom: transparent solid 1px;
        }

        &:hover
        {
            background-color: #f8f8f8;

            h2
            {
                // text-decoration: underline;
                // text-decoration-color: #17D2A8;               
                
                border-bottom: #17D2A8 solid 1px;
            }

            h1
            {                
                // text-decoration: underline;
                // text-decoration-color: #17D2A8;

                border-bottom: #17D2A8 solid 1px;
            }
            
        }     
    }   
}

// recent --------------------------------------------------------------------------------------------------------------- //

.recent-posts,
.blog-post
{
    a
    {
        h3
        {
            margin-top: 20px;
            font-weight: bold;
            background-color:#f8f8f8; 
        }

        &:hover
        {
            h3.mod-title
            { 
                text-decoration: underline;
                text-decoration-color: #17D2A8;                
            }
        }        
    }    
}

.related_posts
{
    a
    {
        h3
        {
            background-color:none; 
            margin-top: 20px;
            font-weight: 500;
        }
    }  
}

.post-content, .page-content
{
    img
    {
        border-radius: 8px;
    }
}

*{scroll-behavior: smooth;}

.pagination
{
  display: block;
  text-align: center;
  width: 100%;
}

// cookie buttons --------------------------------------------------------------------------------------------------------------- //

#cookie-notice-accept,
#cookie-notice-decline
{
    cursor: pointer;
}

// post-entry --------------------------------------------------------------------------------------------------------------- //

.post-entry, .page-entry
{
    h2
    {
        background-color: #f8f8f8;
    }

    h3
    {
        background-color: #f8f8f8;
    }

    a
    {
        background-color: #f8f8f8;

        &:hover
        {
            h3.mod-title
            {
                // border-bottom: #17D2A8 solid 1px;
                text-decoration: underline;
                text-decoration-color: #17D2A8;            
            }
        }
    }

    .post-footer
    {
        h3
        {
            background-color: transparent;
        } 
        
        a
        {
            border-bottom: 1px solid #999;
            font-weight: bold;

            &:hover
            {
                border-bottom: #17D2A8 solid 1px;  
            }
        }
    }
}

.post-entry, .page-entry
{
    h3
    {
        background-color: #f8f8f8;

        border-left: 1px solid #17D2A8;

        padding-left: 5px;
        padding-right: 5px;

        font-weight:300;

        width: fit-content;

        font-size: 16px;
        line-height: 22px;    
    }
}

.site-footer
 {
  border-top: 4px solid $grey-color-light;
  border-bottom: 1px solid #2f3d5a;
}

// github --------------------------------------------------------------------------------------------------------------- //

.github-activity
{
    ul
    {        
        li
        {
            margin: 0px;
            padding: 0px;
        }
    }

    .svg-icon
    {
        fill: #333;
    }

    #git-result a
    {
        color: #333;
        background-color: #f8f8f8;
        margin-bottom: 10px;    
    }

    a:hover
    {
        border-bottom: #17D2A8 solid 1px;
        .fx
        {
            // color: #17D2A8;
        }
    }
}