.page-navigation 
{
  font-size: 14px;
  display: block;
  width: 100%;
  overflow: hidden;
  text-align: center;
  margin-top: 20px;
}

.page-navigation a 
{
  color: #333;
  text-align: center;
  padding: 2px 12px 2px 12px;
  text-decoration: none; 
  border-radius: 4px 4px 4px 4px;
  margin-right: 5px;
  margin-bottom: 8px;
  margin-top:8px;

  font-size: 10px;
  text-transform: uppercase;

  border: #aaa 1px solid;
}

.social-media-list
{
  width: 100%;
  display: block;
  // padding: 0 20px 0 20px;  
  text-align: center;

  .username
  {
    display: none;
  }

  li{
    display: inline;
  }

}

.foot_meta
{
  margin-top: $spacing-unit;
  width: 100%;
  text-align: center;
}

.related_posts
{
  width: 100%;
  text-align: center;
}

.post-footer
{
  h3 { width: 100%; }

  a { font-weight: 400; }

  text-align: center;
  border-bottom: 8px solid #f7f7f7;
  border-top: 8px solid #f7f7f7;
  margin-bottom: 10px;
  width: 100%;
  padding-top: 10px;
}

.home_logo
{
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

footer
{
  overflow: hidden;
  background-color: $background-footer-color;

  .foot_meta
  {
    color: #888;
    a { color:white; };
  }

  .svg-icon
  {
    fill:white;
  }

  .social-media-list
  {
    li { padding: 5px; }
  }
}

