.related_posts
{
    width: 100%;
    text-align: center;
    text-decoration: none;
    background-color: $background-related-color;
    padding-bottom: 20px;
    padding-top: 20px;

    h1
    {        
        color: white;
    }

    h3
    {
        margin: 10px;
        color: white;
        font-weight: 600;
    }

    a
    {
        color: #888;
        text-align: left;
    }
}

.module-grid
{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
}

a.flex-module
 {
     h3
     {
        margin-top: 10px;
        color: #444;
        font-weight:600;
     }

    color: #888;
    text-decoration: none;
    // border-radius: 8px;
    transition: 0.5s;
  
    &:visited {
        color: #888;
        text-decoration: none;
    }
  
    &:hover {
        color: #888;
        text-decoration: none;
        background-color: $background-body-hover-color;
    }

    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom: $background-body-hover-color solid 1px;
  
  }

  .related_posts
  {
    a.flex-module
    {
        h3
        {
           margin-top: 10px;
           color: white;
           font-weight: 600;
        }
   
       color: #888;
       text-decoration: none;
       // border-radius: 8px;
       transition: 0.5s;
     
       &:visited {
           color: #888;
           text-decoration: none;
       }
     
       &:hover {
           color: #888;
           text-decoration: none;
           background-color: $background-related-hover-color
           
       }
       
       border-bottom: $background-related-hover-color solid 1px;
       margin-bottom: 10px;
     
     }
  }

.flex-module.third
{   
	float: left;
    width: 30%;

    .tmpImage
    {
        width: 100%;
        overflow: hidden;
	    border-radius: 8px;
    }

    .tmpImageEmpty
    {
        width: 100%;
        height: auto;
        overflow: hidden;
	    border-radius: 8px;
    }
}

@include media-query(600px) 
{
    .flex-module.third
    {
        width: 100%; 
    }
}
