---
layout: default
---

<div class="home">

  {%- if page.title -%}
    <!-- <h1 class="page-heading">{{ page.title }}</h1> -->
  {%- endif -%}

  <div class="blog-title">
    <h1>a <span class="light">drop</span> in the digital ocean: {{ page.title }} </h1>  
</div>

  <div>Hello and welcome to a drop in the digital ocean. Here you can find a current total of {{ site.posts.size }} postings about making, robotics, microcontrollers and other such stuff.</div>
  <br>

  {{ content }}

  <!-- This loops through the paginated posts -->
  <ul class="post-list">
    {% for post in paginator.posts %}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <!-- <span class="post-meta">{{ post.date | date: date_format }}</span> -->
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>

      {%- if post.thumb -%}
      <a class="post-thumb" href="{{ post.url | relative_url }}">
        <img src="{{ post.thumb | relative_url }}" alt="{{ post.title | escape }}">
      </a>
      {%- endif -%}

      {%- if site.show_excerpts -%}
        <p>{{ post.excerpt }}...</p>
      {%- endif -%}

    </li>
    {% endfor %}
  </ul>


<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>

<select name="categories" id="categories" onchange="location = this.value;">
  <option value="/">All</option>
  {% for category in site.categories %}
    <option value="/categories/{{category | first | downcase}}"> 
      {{category | first }}
    </option>
  {% endfor %} 
</select>

</div>
