---
layout: default
---

  {%- if page.title -%}
    <!-- <h1 class="page-heading">{{ page.title }}</h1> -->
  {%- endif -%}

  <!-- <div class="blog-title">
    <h1>a <span class="light">drop</span> in the digital ocean: {{ page.title }} </h1>  
</div> -->

  <div>Hello and welcome to sparkplug studios. Here you can find a current total of {{ site.posts.size }} postings about making, robotics, microcontrollers and other such stuff.</div>
  <br>

  <!-- This loops through the paginated posts -->
  <div class="module-grid">

    {% for post in paginator.posts %}

    <a class="flex-module third" href="{{ post.url | relative_url }}">
      
      {%- if post.thumb -%}
        <img class="tmpImage" src="{{ post.thumb }}">
      {%- else -%}
        <img class="tmpImageEmpty" width="300px" height="169px">
      {%- endif -%}

      <h3 class="mod-title">{{ post.title }}</h3>

      {%- if site.show_excerpts -%}
        <p>{{ post.excerpt | strip_html }}...</p>
      {%- endif -%}

    </a>
    
    {% endfor %}
    
  </div>


<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">&laquo;</a>
  {% else %}
    <span class="previous"></span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">&raquo;</a>
  {% else %}
    <span class="next "></span>
  {% endif %}
</div>

<!--
<select name="categories" id="categories" onchange="location = this.value;">
  <option value="/">All</option>
  {% for category in site.categories %}
    <option value="/blog/categories/{{category | first | downcase}}"> 
      {{category | first }}
    </option>
  {% endfor %} 
</select>
-->
