---
layout: default
---
<article class="post-entry">
  
  <h1 class="main-title">{{ page.title | escape }}</h1>

  <div class="post-content">
    {{ content }}
  </div>

  <div class="post-footer">

    <h3>{{ page.title | escape }}</h3>

    <p class="post-foot-meta">Posted on {{ page.date | date: "%-d %B %Y" }} in 

    {% if post %}
      {% assign categories = post.categories %}
    {% else %}
      {% assign categories = page.categories %}
    {% endif %}

    {% for category in categories %}
      <a href="/blog/categories/{{category | downcase}}">{{category}}</a>
    {% unless forloop.last %}, {% endunless %}
    {% endfor %}

    by {{ page.author }}</p>
    
  </div>

  <div class="page-navigation">
    {% if page.previous.url %}
      <a class="prev" href="{{page.previous.url}}">&laquo; prev </a> <!-- {{page.previous.title}}</a> -->
    {% endif %}

    <a href="#top"> top </a>

    {% if page.next.url %}
      <a class="next" href="{{page.next.url}}">next &raquo;</a> <!-- {{page.next.title}} &raquo;</a> -->
    {% endif %}
  </div>

</article>
